* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 2%;
  background-color: #3A3C3C;
  color: #FF6934;
  font-family: 'Baloo Bhaijaan 2', cursive;
}

#editor-wrapper,
textarea {
  width: 28%;
  display: inline-block;
  margin-left: 2.5%;
  height: auto;
}

textarea {
  margin: auto;
  resize: vertical;
}

#editor-header {
  text-align: center;
  background-color: lawngreen;
  border-radius: 5px 5px 0 0;
  font-size: 1.5rem;
  font-weight: 800;
}

#preview-wrapper{
  width: 65%;
  display: inline-block;
  margin-left: 2.5%;
  height: auto;
  position: fixed;
  top: 4vh;
}

#preview-header {
  text-align: center;
  background-color: lawngreen;
  border-radius: 5px 5px 0 0;
  font-size: 2rem;
  font-weight: 800;
}

#preview{
  background-color: #F8F9F9;
  font-family: monospace;
  height: 85vh;
  overflow: auto;
  color: black;
}
